
.cardContainer {
    background: #f4f4f4;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
    color: #333;
}

.description {
    color: #666;
}

.image {
    max-width: 50%;
    max-height: 50%;
    padding: 20px;
}
